@model IEnumerable<App.Web.ViewModels.User.UserListItemVM>

@{
	ViewData["Title"] = "Danh sách tài khoản";
}

@if (User.IsInPermission(AuthConst.AppUser.CREATE))
{
<div class="my-2">
	<a asp-action="Create" class="btn btn-primary">
		<i class="fas fa-user-plus"></i> &nbsp; Tạo mới người dùng
	</a>
</div>
}


<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Tài khoản</th>
				<th>Họ tên</th>
				<th>SĐT</th>
				<th>Email</th>
				<th>Vai trò</th>
				<th>Ngày tạo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td class="fit">@item.RowIndex</td>
				<td>@item.Username</td>
				<td>@item.FullName</td>
				<td>@item.PhoneNumber1</td>
				<td>@item.Email</td>
				<td>@item.RoleName</td>
				<td>@item.CreatedDate.ToDMY()</td>
				<td class="fit">
					<a asp-action="Details" asp-route-id="@item.Id"
					   class="btn btn-outline-secondary btn-sm"><i class="fa fas fa-eye"></i></a>
					@if (User.IsInPermission(AuthConst.AppUser.UPDATE))
					{
						<a asp-action="Edit" asp-route-id="@item.Id"
						   class="btn btn-outline-secondary btn-sm"><i class="fa fas fa-pen"></i></a>
					}
					@if (User.IsInPermission(AuthConst.AppUser.DELETE))
					{
						<a asp-action="Delete" asp-route-id="@item.Id"
						   class="btn btn-outline-secondary btn-sm js-delete-confirm"
						   data-msg="Xác nhận xóa tài khoản [@item.Username]?"><i class="fa fas fa-trash"></i></a>
					}
					@if (User.IsInPermission(AuthConst.AppUser.BLOCK))
					{
						<a href="#" data-id="@item.Id" class="btn btn-sm btn-outline-secondary js-GetIdUserLock" data-toggle="modal" data-target="#modalLock">
							<i class="fa fa-fw fa-user-lock "></i>
						</a>
					}	
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>
<partial name="_LockUser" model="null" />
<partial name="_Pager" />
