@model App.Web.Components.MainNavBar.NavBarViewModel
@{
	var currentControllerName = Context.Request.RouteValues["controller"].ToString();
	string href = "";
	string menuOpenClass = "";
	string activeClass = "";
	bool itemIsOpened;
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<a href="/" class="brand-link">
		<span class="brand-text font-weight-light d-block text-center">@AppConst.APP_NAME</span>
	</a>

	<div class="sidebar">
		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				@foreach (var item in Model.Items)
				{
					if (!User.IsInPermission(item.Permission))
					{
						continue;
					}
					href = "#";
					if (!(item.Action + item.Controller).IsNullOrEmpty())
					{
						href = Url.Action(item.Action, item.Controller);
					}
					menuOpenClass = "";
					activeClass = "";

					itemIsOpened = item.ChildrenItems != null && item.ChildrenItems.Any(i => i.Controller == currentControllerName);
					if (itemIsOpened)
					{
						menuOpenClass = " menu-open";
						activeClass = " active";
					}
					else if (item.Controller == currentControllerName)
					{
						activeClass = " active";
					}

					<li class="nav-item@(menuOpenClass)">
						<a href="@href" class="nav-link@(activeClass)">
							<i class="nav-icon fas @item.Icon"></i>
							<p class="text-nowrap">
								@item.DisplayText
								@if (href == "#" && item.ChildrenItems != null)
								{
									<i class="fas fa-angle-left right"></i>
								}
							</p>
						</a>
						@if (href == "#" && item.ChildrenItems != null)
						{
							<ul class="nav nav-treeview">
								@foreach (var sub in item.ChildrenItems)
								{
									if (!User.IsInPermission(sub.Permission))
									{
										continue;
									}
									activeClass = sub.Controller == currentControllerName ? " active" : "";
									<li class="nav-item">
										<a asp-controller="@sub.Controller" asp-action="@sub.Action" class="nav-link@(activeClass)">
											<i class="fas nav-icon @sub.Icon ml-3"></i>
											<p>@sub.DisplayText</p>
										</a>
									</li>
								}
							</ul>
						}
					</li>
				}

				<li class="nav-item">
					<a href="#" data-toggle="modal" data-target="#mChangePassword"
					   class="nav-link">
						<i class="nav-icon fas fa-key"></i>
						<p class="text-nowrap">Đổi mật khẩu</p>
					</a>
				</li>

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
</aside>
