@model App.Web.ViewModels.Role.RoleDeleteVM

@{
	ViewData["Title"] = $"Xác nhận xóa vai trò [{Model.Name}]";
	ViewBag.NavBarCodePage = NavBarCodePage.ROLE_LIST;
}
@section head{ 
	<link href="~/lib/bs4-autocomplete/css/bs4-autocomplete.css" rel="stylesheet" />
}

<form asp-action="Delete">
	<div class="row">

		<div class="col-md-4 col-xl-3">
			<h5>Thông tin vai trò</h5>
			<p class="small mb-1">Tạo lúc @Model.CreatedDate.ToDMYHM()</p>
			<p class="small mb-2">Cập nhật lần cuối lúc @Model.UpdatedDate.ToDMYHM()</p>
			<input asp-for="Id" type="hidden" />
			<input asp-for="Name" type="hidden" />
			<div class="mt-2">
				<label>Tên vai trò</label>
				<input class="form-control" readonly value="@Model.Name" />
			</div>
			<div class="mt-2">
				<label>Mô tả</label>
				<input class="form-control" readonly value="@Model.Desc" />
			</div>
			<div class="mt-2">
				<label asp-for="NewId">Vai trò thay thế</label>
				<select asp-for="NewId" class="form-control">
					<vc:list-role seleteted-id="null" exclude-ids="new int[] { Model.Id }"></vc:list-role>
				</select>
				<span asp-validation-for="NewId" class="text-danger"></span>
			</div>
		</div>

		<div class="col-md-8 col-xl-9">
			<h5>Có @Model.AppUsers.Count tài khoản bị ảnh hưởng</h5>
			<div class="row">
				@for (int i = 0; i < Model.AppUsers.Count; i++)
				{
					<div class="col-md-6 col-lg-4 col-xl-3">
						<p class="hover:text-primary text-bold">@(i+1). @Model.AppUsers[i].Username</p>
					</div>
				}
			</div>
		</div>

		<div class="col-12 text-center">
			<button type="button" class="btn btn-danger px-4 js-delete-confirm" data-mode="submit">
				<i class="mdi mdi-trash-can me-2"></i> Xóa vai trò này
			</button>
		</div>
	</div>
</form>

<partial name="Form/_BackToList" />

@section scripts{
	<script src="~/js/role/delete-role.js" asp-append-version="true"></script>
}