@model IEnumerable<App.Data.Entities.AppRole>

@{
	ViewData["Title"] = "Danh sách các quyền";
}

<partial name="_CreateButton" />

<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Tên quyền</th>
				<th>Mô tả</th>
				<th>Ngày tạo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{ 
				<tr>
					<td class="fit">@item.Id</td>
					<td>@Html.DisplayFor(modelItem => item.Name)</td>
					<td>@Html.DisplayFor(modelItem => item.Desc)</td>
					<td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
					<td class="fit">
						<a href="#"
						   class="btn btn-outline-secondary btn-sm"><i class="fa fas fa-eye"></i></a>
						<a asp-action="Edit" asp-route-id="@item.Id"
						   class="btn btn-outline-secondary btn-sm"><i class="fa fas fa-pen"></i></a>
						<a href="#"
						   class="btn btn-outline-secondary btn-sm"><i class="fa fas fa-trash"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>