@model List<IGrouping<string, App.Data.Entities.MstPermission>>

<div class="col-12">
	<div class="row js-masonry">
		@foreach (var item in Model)
		{

			<div class="col-sm-6 col-md-4 col-xl-3 js-group-permission">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">@item.Key</h5>
					</div>
					<div class="card-body">
						<div class="form-group hover:text-primary">
							<div class="custom-control custom-switch">
								<input id="@item.FirstOrDefault()?.Table" type="checkbox" class="custom-control-input check-all" />
								<label for="@item.FirstOrDefault()?.Table" class="custom-control-label form-check-label w-100 hover:pointer">Chọn tất cả</label>
							</div>
						</div>
						@foreach (var per in item)
						{
							<div class="form-group hover:text-primary">
								<div class="custom-control custom-switch">
									<input id="permission-@per.Id" type="checkbox" data-id="@per.Id"
										   class="custom-control-input check-permission" />
									<label for="permission-@per.Id"
										   class="custom-control-label form-check-label w-100 hover:pointer">@per.Desc <small>(@per.Id)</small></label>
									</div>
								</div>
							}
					</div>
				</div>
			</div>
		}
	</div>
</div>