<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewBag.Title</title>
	<link rel="icon" type="image/x-icon" href="~/favicon.ico" asp-append-version="true"/>
	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/adminLTE/plugins/fontawesome-free/css/all.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/adminLTE/dist/css/adminlte.min.css">

	<link href="~/lib/bs4-toast-snackbar/css/toast-snackbar.css" rel="stylesheet" asp-append-version="true"/>

	<link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>

	@RenderSection("head", false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<!-- Site wrapper -->
	<div class="wrapper">
		<partial name="_HeaderBar" />

		<vc:main-nav-bar></vc:main-nav-bar>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content p-4">

				<partial name="_Noti" />

				<!-- Default box -->
				<div class="card">
					<div class="card-header">
						<h3 class="h3">@ViewBag.Title</h3>
					</div>
					<div class="card-body">
						@RenderBody()
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<footer class="main-footer">
			Project
		</footer>

	</div>
	<partial name="_ChangePassword" model="null" />
	<!-- ./wrapper -->
	<!-- jQuery -->
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Thư viện autocomplete -->
	<script src="~/lib/bs4-autocomplete/js/bs4-autocomplete.js" asp-append-version="true"></script>
	<!-- Thư viện toast-->
	<script src="~/lib/bs4-toast-snackbar/js/toast-snackbar.js" asp-append-version="true"></script>
	<!-- AdminLTE App -->
	<script src="/adminLTE/dist/js/adminlte.min.js"></script>
	<!-- Validation -->
	<partial name="_ValidationScriptsPartial" />
	<!-- Thư viện modal -->
	<script src="~/lib/bs4-modal/modal.js" asp-append-version="true"></script>
	<!-- Javascript dùng chung -->
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("scripts", false)
</body>
</html>
