@using App.Web.Common.NavBar
@inject NavBarVelzonViewModel nav

@functions{
	NavBarItemBase[] GetChilds(NavBarItemBase navItem)
	{
		NavBarItemBase[] childs = null;
		if (navItem is NavBarItemLv1)
		{
			childs = (navItem as NavBarItemLv1).NavBarItemLv2;
		}
		else if (navItem is NavBarItemLv2)
		{
			childs = (navItem as NavBarItemLv2).NavBarItemLv3;
		}
		return childs;
	}
	bool HasChild(NavBarItemBase navItem)
	{
		var childs = GetChilds(navItem);

		if (childs == null || childs.Length == 0)
		{
			return false;
		}
		// Check xem có quyền truy cập menu con hay không
		var hasPermission = childs.Any(i => User.IsInPermission(i.Permission));

		return hasPermission;
	}
	string GetActiveClass(NavBarItemBase navItem)
	{
		return navItem.CodePage == ViewBag.NavBarCodePage ? "active" : "";
	}
	string GetShowClass(NavBarItemBase navItem)
	{
#warning: Bug khi menu level 3 show thì menu level 1 không show được
		var childs = GetChilds(navItem);
		var isShow = childs.Any(i => i.CodePage == ViewBag.NavBarCodePage);
		return isShow ? "show" : "";
	}
}
<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
	<!-- LOGO -->
	<div class="navbar-brand-box">
		<!-- Dark Logo-->
		<a href="index.html" class="logo logo-dark">
			<span class="logo-sm">
				<img src="~/velzon/images/logo-sm.png" alt="" height="22">
			</span>
			<span class="logo-lg">
				<img src="~/velzon/images/logo-dark.png" alt="" height="17">
			</span>
		</a>
		<!-- Light Logo-->
		<a href="index.html" class="logo logo-light">
			<span class="logo-sm">
				<img src="~/velzon/images/logo-sm.png" alt="" height="22">
			</span>
			<span class="logo-lg">
				<img src="~/velzon/images/logo-light.png" alt="" height="17">
			</span>
		</a>
		<button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
			<i class="ri-record-circle-line"></i>
		</button>
	</div>

	<div id="scrollbar">
		<div class="container-fluid">

			<div id="two-column-menu">
			</div>
			<ul class="navbar-nav" id="navbar-nav">
				@foreach (var item in nav.Items)
				{
					if (item.IsNavBarTitle)
					{
						<li class="menu-title"><span data-key="t-menu">@item.DisplayText</span></li>
						continue;
					}
					if (!User.IsInPermission(item.Permission))
					{
						continue;
					}
					if (!HasChild(item))
					{
						<li class="nav-item">
							<a href="@item.Url" class="nav-link menu-link @GetActiveClass(item)">
								<i class="mdi @item.Icon"></i>
								<span class="text-nowrap">@item.DisplayText</span>
							</a>
						</li>
					}
					else
					{
						// Có menu con thì thêm xử lý
						// Menu level 2
						<li class="nav-item">
							<a class="nav-link menu-link collapsed @GetShowClass(item)" href="#nav-lv1-@item.CodePage" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="nav-lv1-@item.CodePage">
								<i class="mdi @item.Icon"></i> <span data-key="@item.CodePage">@item.DisplayText</span>
							</a>
							<div class="collapse menu-dropdown @GetShowClass(item)" id="nav-lv1-@item.CodePage">
								<ul class="nav nav-sm flex-column">
									@foreach (var lv2 in item.NavBarItemLv2)
									{
										if (!User.IsInPermission(lv2.Permission))
										{
											continue;
										}
										if (!HasChild(lv2))
										{
											<li class="nav-item">
												<a href="@lv2.Url" class="nav-link @GetActiveClass(lv2)" data-key="@lv2.CodePage"> @lv2.DisplayText</a>
											</li>
										}
										else
										{
											// Menu level 3
											<li class="nav-item">
												<a href="#nav-lv2-@lv2.CodePage" class="nav-link collapsed @GetShowClass(lv2)" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="nav-lv2-@lv2.CodePage" data-key="@lv2.CodePage">
													@lv2.DisplayText
												</a>
												<div class="collapse menu-dropdown @GetShowClass(lv2)" id="nav-lv2-@lv2.CodePage">
													<ul class="nav nav-sm flex-column">
														@foreach (var lv3 in lv2.NavBarItemLv3)
														{
															if (!User.IsInPermission(lv3.Permission))
															{
																continue;
															}

															<li class="nav-item">
																<a href="@lv3.Url" class="nav-link @GetActiveClass(lv3)" data-key="@lv3.CodePage"> @lv3.DisplayText</a>
															</li>

														}
													</ul>
												</div>
											</li>
										}
									}
								</ul>
							</div>
						</li>
					}

				}
				<li class="nav-item">
					<a href="#" data-toggle="modal" data-target="#mChangePassword"
					   class="nav-link menu-link">
						<i class="mdi mdi-account-key"></i>
						<span class="text-nowrap">Đổi mật khẩu</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- Sidebar -->
	</div>

	<div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->