@model IEnumerable<App.Web.Areas.Admin.ViewModels.News.ListItemNewsVM>

@{
    ViewData["Title"] = "Danh sách tin tức ";
}

@*@if (User.IsInPermission(AuthConst.AppUser.CREATE))
{*@
<div class="my-2">
    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-user-plus"></i> &nbsp; Tạo mới bài viết
    </a>
</div>
@*}*@


<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Tiêu đề</th>
                <th class="text-center">Hình</th>
                <th>Tóm tắt</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fit">@item.RowIndex</td>
                    <td>@item.Title</td>
                    <td class="text-center">
                        @{
                            if (item.PathImagePost != null)
                            {
                                <img src="@item.PathImagePost" class="item-news-image" />
                            }
                            else
                            {
                                <img src="~/files/logo.png" style=" width: 50px;height: 50px;object-fit: cover;" />
                            }
                        }
                    </td>
                    <td>@item.Summary</td>
                    @{
                        if (item.Published)
                        {
                            <td>
                                <a asp-action="UnPublicNews" asp-route-id="@item.Id"
                       class="btn btn-outline-danger btn-sm js-delete-confirm"
                       data-msg="Xác nhận không công khai bài viết [@item.Title]?">
                                    UnPublic
                                    <i class="ml-1 fas fa-times"></i>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="PublicNews" asp-route-id="@item.Id"
                       class="btn btn-outline-success btn-sm js-delete-confirm"
                       data-msg="Xác nhận công khai bài viết [@item.Title]?">
                                    Public
                                    <i class="ml-1 fas fa-check"></i>
                                </a>
                            </td>
                        }
                    }
                    <td class="fit">
                        @*	@if (User.IsInPermission(AuthConst.AppUser.UPDATE))
                    {*@
                        <a asp-action="Edit" asp-route-id="@item.Id"
                       class="btn btn-outline-secondary btn-sm"><i class="fa fas fa-pen"></i></a>
                        @*}*@
                        @*	@if (User.IsInPermission(AuthConst.AppUser.DELETE))
                    {*@
                        <a asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-outline-secondary btn-sm js-delete-confirm"
                       data-msg="Xác nhận xóa bái viết [@item.Title]?"><i class="fa fas fa-trash"></i></a>
                        @*}*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_Pager" />
